.flex-container{
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}


.flex-item{
 background: #D5F26C;
  padding: 5px;
  width: 180px;
  height: 25px;
  margin-top: 10px;
  
    
  line-height: 15px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
    
    -moz-border-radius-topleft: 56px;
-webkit-border-top-left-radius: 56px;
 border-top-left-radius: 56px;
-moz-border-radius-topright: 56px;
-webkit-border-top-right-radius: 56px;
border-top-right-radius: 56px;
-moz-border-radius-bottomleft: 56px;
-webkit-border-bottom-left-radius: 56px;
border-bottom-left-radius: 56px;
  

}

.flex-item:hover {
  width: 190px;
  height: 35px;
  padding:5px;
  transition: 1s;
  box-shadow: 10px 10px 5px #888888;

}

.flex-container2{
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}


.flex-item2{
    display:block;
 background: #D5F26C;
  padding: 5px;
  width: 180px;
  height: 25px;
  margin-top: 10px;
  
    

    -moz-border-radius-topleft: 56px;
-webkit-border-top-left-radius: 56px;
 border-top-left-radius: 56px;
-moz-border-radius-topright: 56px;
-webkit-border-top-right-radius: 56px;
border-top-right-radius: 56px;
-moz-border-radius-bottomleft: 56px;
-webkit-border-bottom-left-radius: 56px;
border-bottom-left-radius: 56px;
  

}

.flex-item3{
    display:block;
 background: green;
  padding: 5px;
  width: 180px;
  height: 25px;
  margin-top: 10px;
  
    

    -moz-border-radius-topleft: 56px;
-webkit-border-top-left-radius: 56px;
 border-top-left-radius: 56px;
-moz-border-radius-topright: 56px;
-webkit-border-top-right-radius: 56px;
border-top-right-radius: 56px;
-moz-border-radius-bottomleft: 56px;
-webkit-border-bottom-left-radius: 56px;
border-bottom-left-radius: 56px;
  

}

.flex-item2:hover {
  width: 190px;
  height: 35px;
  padding:5px;
  transition: 0.5s;
  box-shadow: 10px 10px 5px #888888;

}

.flex-item3:hover {
  width: 190px;
  height: 35px;
  padding:5px;
  transition: 0.5s;
  box-shadow: 10px 10px 5px #888888;

}




h1 {
   
    font-size: 2em;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

body {
    background-image:url(33ced2d2.png)
}


nav {
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
    border-bottom-color: #FF8C00;
}

ul {
    display: inline;
}

a{
    text-decoration: none;
}

p {
  font-family: verdana,sans-serif;
  font-size: 0.9em;
  max-width: 40em;
  margin: auto;
}

h2, h3, h4 {
    width: 30em;
    margin: auto;
}

fieldset {
    border-radius: 1em;
    padding: 1em 0em 0em 3em;
    width: 30em;
    margin: auto;


}




input    {
width: 80%;
display:block;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
background-color: white;
transition: .7s;

}

input:hover {
    padding: 1em 0.1em;
    box-shadow: 10px 10px 5px #888888; 
}

input[type="checkbox"]{
     display: block;
    box-shadow: none;

}
input[type="radio"] {
    display: block;
    box-shadow: none;
}





legend {
    font-family: sans-serif;
    font-size: 1em;



}

span, em {
    font-family: sans-serif;
    font-size: 0.8em;
}




